<div class="container">

    <h1>Edit wishlist album</h1>
  
    <%= render 'form' %>
  
    <br>
    <%= link_to 'Back to wishlist', wishlist_albums_path, class: "btn btn-outline-primary" %>
  
  </div>