<%= render 'layouts/menu' %>

<p>
    <strong>Artist:</strong>
    <%= @wishlist_album.artist %>
</p>

<p>
    <strong>Album title:</strong>
    <%= @wishlist_album.album_title %>
</p>

<%= link_to 'Back to wishlist', wishlist_albums_path %>