<%= render "layouts/menu" %>

<h1 class="jumbotron">Learn How to Use</h1>

<div class="container" style="width: 60%;">

    <div class="text-center">
        <h3>Getting Started</h3>

        <p>My Record Collection is designed to be simple to understand and easy to use. This app provides
            a clean user-interface to make archiving your vinyl record collection a peice of cake. To get started,
            create an account by clicking the 'Sign up' link and enter your e-mail address and a secure password of
            at least six characters. From there, click on the 'My Collection' button under the record icon on the
            main Welcome page.
        <p>

        <h3>Start Adding Albums to Your Collection</h3>

        <p>Adding albums is easy, click the 'Add new album' button and start entering information about the
            album on the form. Artist, album title, year released and genre are required fields, meaning the
            album will not be added to your collection without providing this information. Album grade and notes
            are optional fields; learn more about how to grade your albums
            <%= link_to 'here', "https://blog.electrohome.com/vinyl-grading-system-shop-used-records/", :target => "_blank" %>.
            Click the 'Create Album' button to save it and you will then see the album in your collection!
        </p>

        <h3>Add Albums You Want to Your Wish List</h3>

        <p>Wish list albums are albums you do not own but are looking to add to your collection.
            Adding wish list albums is essentially the same process as adding albums, the only difference is it only
            has two fields and they are both required: artist and album title. The main feature of wish list albums
            is they can easily be moved over to your collection. Click the 'Move to collection' link and a popup will
            appear explaining how the process works. Once you click 'Ok' the album will be removed from your wish list
            and you will have to re-enter the information along with the other required fields for an album and you're
            done, simple as that.
        </p>
    </div>


</div>


<div class="container" style="padding-top: 20px;">
    <%= link_to 'Back to Home', welcome_index_path, class: "btn btn-outline-primary" %>
</div>
<br>