<h1 class="jumbotron">Learn How to Use</h1>

<div class="container">
    <div class="text-center">
        <h3>Getting Started</h3>

        <p>My Record Collection is designed to be simple and easy to use. This app provides a sleek
            user-interface to make adding and keeping track of your vinyl record a pain-free process.<p>

    </div>

    <%= link_to 'Back to Home', welcome_index_path, class: "btn btn-outline-primary" %>

</div>