<%= render 'layouts/menu' %>

<div class="container">
    <div class="row">
        <div class="col-md">
            <br>
            <h1 class="primary-font">Search Results</h1>
            <br>

            <% @albums.each do |album| %>

            <%= album.artist %> - <%= link_to album.album_title, album_path(album) %><br>

            <% end %>

            <% if @albums.blank? %>
            <div class="notice" style="color:Tomato;">Artist not found in your collection</div>
            <% end %>

            <br>
            <%= link_to 'Back to collection', albums_path, class: "btn btn-outline-primary" %>
        </div>
    </div>
</div>