<p>
  <strong>Artist:</strong>
  <%= @album.artist %>
</p>
   
<p>
  <strong>Album title:</strong>
  <%= @album.album_title %>
</p>

<p>
  <strong>Year released:</strong>
  <%= @album.year_released %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @album.genre %>
</p>