/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

.primary-font {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar {
   height:60px;
   background-color:rgb(76, 90, 104);
}

.nav {
   background-color:rgb(76, 90, 104);
   width: 100%;
}

.navbar-dark .navbar-nav .nav-link:hover {
   color: rgb(5, 211, 5) !important;
   transition: 0.3s;
}

.navbar-brand {
   color: whitesmoke;
   font-size: 18px;
}

.navbar-brand:hover {
   color: rgb(6, 155, 6) !important;
   transition: 0.5s;
}

/* .nav-link:hover {
   color: rgb(8, 20, 8) !important;
   transition: 0.5s;
} */

.album-table-link:hover {
   color:rgb(6, 155, 6);
   transition: 0.5s;
   text-decoration: none;
}